.brands {
  padding-bottom: 10px;

  @media(max-width: 750px) {
    padding-bottom: 30px;
  }

  &__title {
    position: relative;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    color: $c-black;
    padding-bottom: 10px;
    border-bottom: 1px solid $c-grey-line;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -1px;
      display: block;
      width: 265px;
      height: 1px;
      background-color: $c-black;
    }
  }

  &__icons {
    height: 123px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    @media(max-width: 1050px) {
      display: grid;
      justify-content: space-between;
      grid-template-columns: repeat(3, 216px);
      height: 209px;
      padding: 0 18px;
    }

    @media(max-width: 750px) {
      margin-top: 33px;
      display: grid;
      height: 100%;
      justify-content: center;
      grid-template-columns: repeat(1, 216px);
      row-gap: 36px;
    }
  }

  &__icon {
    cursor: pointer;
    transition: transform 0.3s;

    @media(max-width: 1050px) {
      margin: 0 auto;
    }

    &:hover {
      transform: scale(1.2);
    }
  }
}
