.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: $button-width;
  height: $button-height;
  font-family: "Bebas Neue Book", Verdana, sans-serif;
  font-size: 20px;
  line-height: 20px;
  color: $c-white;
  background-color: $c-rose;
  border: 1px solid transparent;
  transition: background-color 0.3s;
  outline: $c-rose-hover;

  &:hover {
    background-color: $c-rose-hover;
  }

  &__img {
    margin-right: 13px;
  }
}
