$c-rose: #f94877;
$c-rose-hover: #fc104f;
$c-black: #222;
$c-grey: #828282;
$c-grey-line: #c4c4c4;
$sale-color: #f44336;
$c-light-grey: #a0a0a0;
$c-white: #fff;

$logo-width: 262px;
$logo-height: 72px;
$logo-middle-width: 178px;
$logo-middle-height: 48px;
$logo-small-width: 127px;
$logo-small-height: 35px;

$button-width: 130px;
$button-height: 40px;

$card-width: 253px;
